@model MovieShop.ViewModel.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customer == null)
{ <h2>New Customer</h2> }
else
{<h2>Edit Customer</h2> }

@using (Html.BeginForm("Save", "Customers"))
{
    
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" } )
    </div>
    <div class="form-group">
        <label>Date of Birth</label>
        @Html.TextBoxFor(m => m.Customer.Birthdate,"{0:d MMM yyyy }", new { @class="form-control" })
    </div>

    <div class="form-group">
        <label>Membership Type</label>
        @Html.DropDownListFor(m => m.Customer.MembershiptypeId, new SelectList(Model.MembershipType, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Is Subscribed?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id);
    <button type="submit" class="btn btn-primary" >Save</button>
}

